h1{
    text-align: center;
}
body{
    background-color: lightgreen;
}
.page-container{
    margin-left: 20vw;
    margin-right: 20vw;
    height: 100vw;
    background-color: white;
}
.header{
    display:flex;
    justify-content: center;
}
.header > img{
    width: 6em;
    height: 4em;
}

.main{
    text-align: center;
}
